{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 id="symbol" class="h2">Latest news</h1>
        </div>
        <div class="row">
            {% for new in latestNews %}
            <div class="col-6">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="fa-solid fa-newspaper"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">
                                    {{new.provider}}
                                </h6> 
                                <span>
                                    {{new.date}}
                                </span>
                            </div>
                        </div>
                        <div class="badge"> 
                            <span>
                                Relevant
                            </span>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">
                            <a href="{{new.link}}" style = "text-decoration: none; color: inherit;">
                            {{new.title}}
                            </a>
                        </h3>
                        <div class="mt-5">
                            <div class="mt-3">
                                {{new.desc}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>





    <div class="col">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 id="symbol" class="h2">Daily Gainers</h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Price</th>
                    <th scope="col">% Change</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker in gainers.itertuples %}
                    <tr>
                        <th scope="row"><a href="/markets/{{ticker.1}}">{{ticker.1}}</a></th>
                        <td>{{ticker.3}}</td>
                        <td>{{ticker.5}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 id="symbol" class="h2">Daily Losers</h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Price</th>
                    <th scope="col">% Change</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker in losers.itertuples %}
                    <tr>
                        <th scope="row"><a href="/markets/{{ticker.1}}">{{ticker.1}}</a></th>
                        <td>{{ticker.3}}</td>
                        <td>{{ticker.5}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 id="symbol" class="h2">Most Active</h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Price</th>
                    <th scope="col">% Change</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker in most_active.itertuples %}
                    <tr>
                        <th scope="row"><a href="/markets/{{ticker.1}}">{{ticker.1}}</a></th>
                        <td>{{ticker.3}}</td>
                        <td>{{ticker.5}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
  </div>

{% endblock content %}