{% extends "base.html" %}
{% load static %}

{% block title %}
Market {{sbl}}
{% endblock title %}

{% block content %}
{% comment %} Ticker and buttons {% endcomment %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 id="symbol" class="h2">{{sbl}}</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group me-2">
			{% comment %} hay que meter un if check user admin {% endcomment %}
			<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collapseModelCreationSettings" aria-expanded="false" aria-controls="collapseModelCreationSettings">
				Create model
			</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collapsePredictionSettings" aria-expanded="false" aria-controls="collapsePredictionSettings">
				Prediction
			</button>
		</div>
		<div class="btn-group me-2">
			<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
			<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
		</div>
		<div class="dropdown">
			<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="actualSelectiondropdownMenuButton"
				data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa-solid fa-calendar-days pe-1"></i>
				<span id='actualSelectionText'>{{actualSelection}}</span>
			</button>
			<div id="dateRangeSelector" class="dropdown-menu dropdown-menu-right" aria-labelledby="actualSelectiondropdownMenuButton">
				{% for selection in otherSelection %}
				<a class="selectionItem dropdown-item">{{selection}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% comment %} Admin model creation form {% endcomment %}
<form class="collapse" id="collapseModelCreationSettings">
	{% csrf_token %}
	<input type="hidden" name="formtype" value="formModelCreation">
	<div class="row">
		<div class="col-sm-3">

			<div class="form-group pb-3">
				<label for="creationInputModelName" class="fs-5">Model</label>
				<input type="text" class="form-control" name="creationInputModelName" id="creationInputModelName" placeholder="Model name">
			</div>

			<div class="form-group pb-3">
				<label for="creationInputModelDescription" class="fs-5">Description</label>
				<textarea class="form-control" name="creationInputModelDescription" id="creationInputModelDescription" rows="3" placeholder="Model description"></textarea>
			</div>

			<div class="form-group pb-2">
				<div class="row align-items-center">
					<div class="col-sm-2">
						<label for="creationInputRange" class="fs-5">Range</label>
					</div>
					<div class="col-sm">
						<select id="creationInputRange" class="form-control form-select">
							<option selected disabled>Choose ...</option>
							<option>1 Month - Fastest</option>
							<option>6 Months - Fast</option>
							<option>1 Year - Slow</option>
							<option>FULL - Slowest</option>
						</select>
					</div>
				</div>
			</div>
			<div id="creationInputRangeDiv" class="form-group">
				<div class="row align-items-center">
					<div class="col-sm">
						<input type="date" class="form-control dateCell" id="creationInputIniRange" max="">
					</div>
					-
					<div class="col-sm">
						<input type="date" class="form-control dateCell" id="creationInputEndRange" min="">
					</div>
				</div>
			</div>

			<hr />

			<div class="form-group">
				<label for="creationInputBenchmark" class="fs-5">Benchmark</label>
				<select name="creationInputBenchmark" id="creationInputBenchmark" class="form-control form-select">
					<option value="{{sbl}}" selected>{{sbl}}</option>
				</select>
			</div>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-3">
			<div class="form-group pb-3">
				<label for="creationInputAlgorithm" class="fs-5">Algorithm</label>
				<select name="creationInputAlgorithm" id="creationInputAlgorithm" class="form-control form-select">
					<option selected disabled>Choose ...</option>
					{% for algo in algorithms %}
					<option value="{{algo}}">{{algo}}</option>
					{% endfor %}
				</select>
			</div>			
			<div class="form-group pb-3">

				<input name="creationInputEnsembleCheck" id="creationInputEnsembleCheck" class="form-check-input fs-5" type="checkbox" data-bs-toggle="collapse"
					data-bs-target="#collapseEnsemble" aria-expanded="false" aria-controls="collapseEnsemble" />
				<label class="form-check-label fs-5 " for="creationInputEnsembleCheck">Ensemble learning</label>

				<div id="collapseEnsemble" class="collapse">
					<select name="creationInputEnsemble" id="creationInputEnsemble" class="form-control form-select">
						<option selected disabled>Choose ...</option>
						<option value="Bagging">Bagging</option>
						<option value="Boosting">Boosting</option>
						<option value="Stacking">Stacking</option>
					</select>
				</div>

			</div>
			<div class="form-group ">
				<input name="creationInputNewsCheck" id="creationInputNewsCheck" class="form-check-input fs-5" type="checkbox" data-bs-toggle="collapse"
					data-bs-target="#collapseNews" aria-expanded="false" aria-controls="collapseNews" />
				<label class="form-check-label fs-5" for="creationInputNewsCheck">News</label>			
				<div id="collapseNews" class="collapse">
					<input name="creationInputNews" id="creationInputNews" type="text" class="form-control inputCell" placeholder="Banned Websites" />
				</div>

			</div>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-3">
			<div class="form-group">
				<label class="form-check-label fs-5 pb-2">Indicators</label>
				{% for indicator in indicators.itertuples %}
				<div class="form-check form-switch">
					<input name="{{ indicator.acronym }}" class="form-check-input" type="checkbox" id="creationInputIndicator{{ indicator.acronym }}">
					<label class="form-check-label" for="creationInputIndicator{{ indicator.acronym }}">{{ indicator.full }}</label>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<input id="submitModelCreation" class="btn btn-primary w-100 my-4" type="submit" value="Create Model">
</form>

{% comment %} User prediccion form {% endcomment %}
<form class="collapse" id="collapsePredictionSettings" method="POST">
	{% csrf_token %}
	<input type="hidden" name="formtype" value="formPrediction">
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group pb-3">
			<label for="predictInputModel" class="fs-5">Model</label>
			<select name="predictInputModel" id="predictInputModel" class="form-control form-select">
				<option selected>Choose...</option>
				<option value="...">...</option>
			</select>
			</div>

			<div class="row align-items-center pb-3">
				<div class="col-sm-2">
					<label class="fs-5" for="predictInputRange">Range</label>
				</div>
				<div class="col-sm">
					<select id="predictInputRange" class="form-control form-select">
						<option selected disabled>Choose ...</option>
						<option>1 Month - Fastest</option>
						<option>6 Months - Fast</option>
						<option>1 Year - Slow</option>
						<option>FULL - Slowest</option>
					</select>
				</div>
			</div>

			<div id="predictInputRangeDiv" class="form-group">
				<div class="row align-items-center">
					<div class="col-sm">
						<input type="date" class="form-control" id="predictInputIniRange">
					</div>
					-
					<div class="col-sm">
						<input type="date" class="form-control" id="predictInputEndRange">
					</div>
				</div>
			</div>

			<hr />

			<label for="predictInputBenchmark" class="fs-5">Benchmark</label>
			<select name="predictInputBenchmark" id="predictInputBenchmark" class="form-control form-select">
				<option value="{{sbl}}" selected>{{sbl}}</option>
				<option>...</option>
			</select>			
			<input class="btn btn-primary w-100 my-4" type="submit" value="Submit">
		</div>
	</div>
	
</form>

{% comment %} Chart {% endcomment %}
<div class="my-4 w-100" id="TVChart" width="900" height="380"></div>

{% comment %} News block {% endcomment %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 id="symbol" class="h2">Latest news</h1>
</div>
<div class="row">
	{% for new in latestNews %}
	<div class="col-md-4">
		<div class="card p-3 mb-2">
			<div class="d-flex justify-content-between">
				<div class="d-flex flex-row align-items-center">
					<div class="icon"> <i class="fa-solid fa-newspaper"></i> </div>
					<div class="ms-2 c-details">
						<h6 class="mb-0">
							{{new.provider}}
						</h6> 
						<span>
							{{new.date}}
						</span>
					</div>
				</div>
				<div class="badge"> 
					<span>
						Relevant
					</span>
				</div>
			</div>
			<div class="mt-5">
				<h3 class="heading">
					<a href="{{new.link}}" style = "text-decoration: none; color: inherit;">
					{{new.title}}
					</a>
				</h3>
				<div class="mt-5">
					<div class="mt-3">
						{{new.desc}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}

{% block scripts %}
{% comment %}
https://tradingview.github.io/lightweight-charts/
https://adamj.eu/tech/2020/02/18/safely-including-data-for-javascript-in-a-django-template/
https://www.youtube.com/watch?v=3KPW9VMyBHA
https://tradingview.github.io/lightweight-charts/docs
{% endcomment %}
<script type="text/javascript">
	function chartSetter(chart, candleData, volumeData, candlestickSeries, volumeSeries) {
		candlestickSeries.setData(candleData);
		volumeSeries.setData(volumeData);
		chart.timeScale().fitContent();
	}
	parent = document.getElementById('TVChart')
	var chart = LightweightCharts.createChart(parent, {
		width: parent.offsetWidth,
		height: 600,
		rightPriceScale: {
			scaleMargins: {
				top: 0.3,
				bottom: 0.25,
			},
			borderVisible: false,
		},
		layout: {
			backgroundColor: '#131722',
			textColor: '#d1d4dc',
		},
		grid: {
			vertLines: {
				color: 'rgba(42, 46, 57, 0)',
			},
			horzLines: {
				color: 'rgba(42, 46, 57, 0.6)',
			},
		},
	});
	var candlestickSeries = chart.addCandlestickSeries(
	);
	var volumeSeries = chart.addHistogramSeries({
		color: '#26a69a',
		priceFormat: {
			type: 'volume',
		},
		priceScaleId: '',
		scaleMargins: {
			top: 0.8,
			bottom: 0,
		},
	});

	chartSetter(chart, candleData = {{candleData|safe}}, volumeData = {{volumeData|safe}}, candlestickSeries, volumeSeries);

	// Responsive chart https://stackoverflow.com/questions/57898720/how-to-create-responsive-tradingview-lightweight-chart
	new ResizeObserver(entries => {
		if (entries.length === 0 || entries[0].target !== parent) { return; }
		const newRect = entries[0].contentRect;
		chart.applyOptions({ height: newRect.height, width: newRect.width });
	  }).observe(parent);

</script>
<script type="text/javascript"> //https://stackoverflow.com/questions/45906858/update-dom-without-reloading-the-page-in-django
$("#dateRangeSelector a").click(function (){
	var endpoint = '/ajax/get_response';
	var period = $(this).html();
	var symbol = $('#symbol').html();
	$.ajax({
		method: "GET",
        url: endpoint,
        data: {
          'period': period,
		  'sbl': symbol
        },
        dataType: 'json',
        success: function (data) {
        	chartSetter(chart, data.candleData, data.volumeData, candlestickSeries, volumeSeries);
			$('#actualSelectionText').text(data.actualSelection);
			var counter = 0;
			$('.selectionItem').each( function( index, element ){
				$(this).text(data.otherSelection[counter++].value);
			});			
        }
      });
});

var formData = new FormData();
$("#submitModelCreation").click(function (){
	formData.append('model', $('#creationInputModelName').val());
	formData.append('description', $('#creationInputModelDescription').val());

	myDate = new Date($('#creationInputIniRange').val());
	formData.append('rangeIni',  $('#creationInputIniRange').val());
	myDate = new Date($('#creationInputEndRange').val());
	formData.append('rangeEnd',  $('#creationInputEndRange').val());
	
	
	formData.append('rangeEnd',  $('#creationInputEndRange').val());
	if ($('#creationInputEnsembleCheck').is(':checked')){
		formData.append('ensemble', $("#creationInputEnsemble option:selected").text());
	}
	if ($('#creationInputNewsCheck').is(':checked')){
		formData.append('news', 'True');
		formData.append('blacklist', $('#creationInputNews').val());
	}
	formData.append('benchmark', $( "#creationInputBenchmark option:selected" ).text());
	formData.append('algorithm', $( "#creationInputAlgorithm option:selected" ).text());
	formData.append('ensemble', $( "#creationInputEnsemble option:selected" ).text());

	formData.append('action', 'create-model');
	formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
	
	const endpoint = 'create-model/';
	$.ajax({
		type: "POST",
        url: endpoint,
        data: formData,
		cache: false,
		processData: false,
		contentType: false,
		enctype: 'multipart/form-data',
        success: function (){
			alert('success!')
		},
		error: function(xhr, errmsg, err) {
			console.log(xhr.status + ":" + xhr.responseText)
		}
      });
});




inputTags(document.querySelector('.inputCell'), [],[]);


$("#creationInputRange").change(function(){
	dateSelector($('#creationInputRangeDiv'),$("#creationInputRange option:selected"),$("#creationInputIniRange"),$("#creationInputEndRange"));
});
$("#predictInputRange").change(function(){
	dateSelector($('#predictInputRangeDiv'),$("#predictInputRange option:selected"),$("#predictInputIniRange"),$("#predictInputEndRange"));
});
</script>
{% endblock scripts %}