{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pablo Antonio Hernández Hernández">
    <title>APB | {% block title %}{% endblock title %}</title>
    {% include 'base/css.html' %}
</head>

<body class="">
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'navbar.html' %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </div>    
    {% include 'base/js.html' %}
    {% block scripts %}
    {% endblock scripts %}    
</body>

</html>