<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="fa-solid fa-house pe-1"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-store  pe-1"></i>
                    Markets
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-money-bill-trend-up  pe-1"></i>
                    Analisis
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Watchlist</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Last</th>
                    <th scope="col">Chg</th>
                    <th scope="col">Chg%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">NVDA</th>
                    <td>221.0</td>
                    <td>-5.58</td>
                    <td>-2.46%</td>
                </tr>
                <tr>
                    <th scope="row">AMZN</th>
                    <td>2910.49</td>
                    <td>-25.86</td>
                    <td>-0.88%</td>
                </tr>
                <tr>
                    <th scope="row">AAPL</th>
                    <td>154.73</td>
                    <td>-3.79</td>
                    <td>-2.39%</td>
                </tr>
            </tbody>
        </table>
    </div>
</nav>